/* General components */
a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: #fff;
  padding: .5rem 1rem;
  font-weight: 700;
}

/* Structure */
html, 
body {
    height: 100%;
}

body {
    background-color: #2e2e2e;
    color: #fff;
}

.main-container {
    max-width: 40em;
}

section:target {
    display: block;
}
section:not(:target) {
    display: none;
}

/* Header */
.nav-header .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
}

.nav-header .nav-link:hover {
    color: #fff;
}

.nav-header .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-header .active {
    color: #fff;
}

@media (min-width: 45em) {
  .brand {
    float: left;
  }
  .nav-header {
    float: right;
  }
}

/* Footer */
footer {
    color: rgba(255, 255, 255, .5);
}


/* Simulation - Input range - Uso vendor prefixes para compatibilidad */
.custom-range::-webkit-slider-thumb {
  background: #ffffff;
}
.custom-range::-webkit-slider-thumb:active {
  background-color: #2e2e2e;
}
.custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
.custom-range::-moz-range-thumb {
  background: #ffffff;
}
.custom-range::-moz-range-thumb:active {
  background-color: #2e2e2e;
}
.custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
.custom-range::-ms-thumb {
  background: #ffffff;
}
.custom-range::-ms-thumb:active {
  background-color: #2e2e2e;
}
.custom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

