/* Colors */
:root {
  --primary-color: #333;
  --secondary-color: rgba(255, 255, 255, .5);
  --font-color: #fff;
  --font-color-light: rgba(255, 255, 255, .25);
  --bg-color: #2e2e2e;
}

[data-theme="light"] {
  --primary-color: #aaa;
  --secondary-color: rgba(0, 0, 0, .5);
  --font-color: #353535;
  --font-color-light: rgba(0, 0, 0, .25);
  --bg-color: #ccc;
}

/* Structure */
html, 
body {
    height: 100%;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

.main-container {
    max-width: 40em;
}

section:target {
    display: block;
}
section:not(:target) {
    display: none;
}

/* Header */
.nav-header .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: var(--secondary-color);
}

.nav-header .nav-link:hover {
    color: var(--font-color);
}

.nav-header .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-header .active {
    color: var(--font-color);
}

@media (min-width: 45em) {
  .brand {
    float: left;
  }
  .nav-header {
    float: right;
  }
}

/* Footer */
footer {
    color: var(--secondary-color);
}

/* How it works */
#equations-list > li {
  margin-bottom: 1rem;
}

/* Generic components */
a,
a:focus,
a:hover {
  color: var(--font-color);
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: var(--primary-color);
  background-color: var(--font-color);
}

.btn-lg {
  padding: .5rem 1rem;
  font-weight: 700;
}

.custom-control-input:checked ~ .custom-control-label::before,
.custom-control-input:not(:checked) ~ .custom-control-label::before,
.custom-control-input:focus ~ .custom-control-label::before,
.custom-control-input:focus:not(:checked) ~ .custom-control-label::before,
.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
  border-color: transparent;
  background-color: var(--font-color-light);
  box-shadow: none;
}

/* Simulation - Input range - Uso vendor prefixes para compatibilidad */
.custom-range::-webkit-slider-thumb {
  background: var(--font-color);
}
.custom-range::-webkit-slider-thumb:active {
  background-color: var(--bg-color);
}
.custom-range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 1px var(--font-color), 0 0 0 0.2rem var(--font-color-light);
}
.custom-range::-moz-range-thumb {
  background: var(--font-color);
}
.custom-range::-moz-range-thumb:active {
  background-color: var(--bg-color);
}
.custom-range:focus::-moz-range-thumb {
  box-shadow: 0 0 0 1px var(--font-color), 0 0 0 0.2rem var(--font-color-light);
}
.custom-range::-ms-thumb {
  background: var(--font-color);
}
.custom-range::-ms-thumb:active {
  background-color: var(--font-color);
}
.custom-range:focus::-ms-thumb {
  box-shadow: 0 0 0 1px var(--font-color), 0 0 0 0.2rem var(--font-color-light);
}