/* General */
a,
a:focus,
a:hover {
  color: #fff;
}

.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  background-color: #fff;
  padding: .5rem 1rem;
  font-weight: 700;
}

section:target {
    display: block;
}
section:not(:target) {
    display: none;
}

/* Estructura */
html, 
body {
    height: 100%;
}

body {
    background-color: #2e2e2e;
    color: #fff;
    box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.main-container {
    max-width: 40em;
}

/* Header */
.nav-header .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    border-bottom: .25rem solid transparent;
}

.nav-header .nav-link:hover {
    border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-header .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-header .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 45em) {
  .brand {
    float: left;
  }
  .nav-header {
    float: right;
  }
}

/* Footer */
footer {
    color: rgba(255, 255, 255, .5);
}
